<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button color="primary" mat-button routerLink="/register-student">Register Student</button>
    <button color="primary" mat-button routerLink="/report-card">Report Card</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>
            menu
          </mat-icon>
        </button>

        <span>KPK</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <span>Vishal Singh</span>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
          </button>

          <button mat-menu-item >

            <span class="iconify" data-icon="mdi-logout" data-inline="false"></span>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

<router-outlet></router-outlet>
</div>
</mat-drawer-container>
